#game{
	width: 66%;
	padding-top: 25%;
	background-image: url("https://cdn.discordapp.com/attachments/579300523191042059/624025900404572163/overworldmap_start_rough.png");
	border-radius: 15px;
	border-style:outset;
	border-width: 5px;
	border-color:#f7e7ce;
	box-shadow: 0px 0px 15px #f7e7ce;
}



img {
    max-width: 100%;
    max-height: 100%;
}

body{
	background-image: url("images/jungle.jpg");
	background-size: cover;
	}

#code{
	background-color:white;
	width: 66%;
	padding-top: 18%;
	border-style:outset;
	border-radius: 15px;
	border-width: 5px;
	border-color:#f7e7ce;
	box-shadow: 0px 0px 15px #f7e7ce;
	opacity: 0.9;
	
}

