html, body{
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	overflow: hidden;
}
#leftScreen{
	position: absolute;
	width: 66%;
	height: 100%;
	left: 0%;
	top: 0%;
}
#map{
	position: absolute;
	width: 100%;
	height: 60%;
    max-width: 100%;
	max-height: 100%;
	object-fit: fill;
}
#codeBox{
	position: absolute;
	width: 70%;
	height: 40%;
	top: 60%;
}
#buttonContainer{
	background-color:NavajoWhite;
	position: absolute;
	height: 40%;
	width: 30%;
	top: 60%;
	right: 0%;
}
button {
	position: absolute;
	background-color: #1E3E59;
	border: none;
	color: white;
	padding: 12px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#apply{
	position: absolute;
	right: 55%;
	top: 50%;
	border-radius: 10px;
	border-width: 10px;
}

#apply:hover{
	transition: background-color 0.5s;
	background-color: #FfB900;
}

#reset{
	position: absolute;
	left: 55%;
	top: 50%;
	border-radius: 10px;
	border-width: 10px;
}

#reset:hover{
	transition: background-color 0.5s;
	background-color: red;
}

#startBattle{
	position: absolute;
	top: 20%;
	left: 23%;
	border-radius: 10px;
	border-width: 10px;
}

#startBattle:hover{
	transition: background-color 0.5s;
	background-color: yellowgreen;
}

#rightScreen{
	position: absolute;
	width: 34%;
	height: 100%;
	right: 0%;
	top: 0%;
}
#console{
	position: absolute;
	top: 60%;
	width: 100%;
	height: 40%;
	overflow: scroll;
}

.gameRulesBold{
	background-color:NavajoWhite;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
}

#gameRules{
	background-color:NavajoWhite;
	font-family: 'Courier New', Courier, monospace;
	padding-left: 10px;
	position: absolute;
	width: 100%;
	height: 60%;
}
.centered{
	position: absolute;
	top: 50%;
	left: 30%;
}
.title{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
.inventoryImage{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

#battleHeader{
	margin-top: 10px;
	font-family: Arial Black;
	text-align: center;
	font-size: 30px;
}

.glowTextEarth{
	animation: GlowAnimE 2s linear infinite;
}

@keyframes GlowAnimE {
	0%, 100% {
	  color: #b5e20f;
	}
	50% {
	  color: #00be39;
	}
}

.glowTextFire{
	animation: GlowAnimF 2s linear infinite;
}

@keyframes GlowAnimF {
	0%, 100% {
	  color: #c00000;
	}
	50% {
	  color: #ff7b00;
	}
}

.glowTextIce{
	animation: GlowAnimI 2s linear infinite;
}

@keyframes GlowAnimI {
	0%, 100% {
	  color: #0051ff;
	}
	50% {
	  color: #00e1ff;
	}
}